### Link To CDC for Raw Data
### url: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36

In [1]:
# import dependencies
import pandas as pd
import datetime as dt
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine, inspect, func
import psycopg2
import requests
from sodapy import Socrata

# import cdc key for API
from cdc_token import my_token

## USA Monthly Cases by State

In [2]:
# set a client with a token
client = Socrata("data.cdc.gov", my_token)

# results returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("9mfq-cb36", limit=50000)

# Convert to pandas DataFrame and display
covid_df = pd.DataFrame.from_records(results)
covid_df.tail()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_death,prob_death
42955,2020-05-28T00:00:00.000,IA,18585,NaN,NaN,228.0,0,506,14.0,0,2020-05-29T14:19:55.781,Not agree,Not agree,NaN,NaN
42956,2020-06-07T00:00:00.000,SD,5438,NaN,NaN,71.0,0,65,0.0,1,2020-06-08T14:55:08.000,N/A,Agree,64.0,1
42957,2021-04-30T00:00:00.000,SD,122660,NaN,NaN,128.0,17,1967,5.0,1,2021-05-01T13:43:22.175,N/A,Agree,1601.0,366
42958,2021-03-10T00:00:00.000,SD,113962,NaN,NaN,209.0,37,1904,3.0,0,2021-03-11T15:36:21.295,N/A,Agree,1546.0,358
42959,2021-05-27T00:00:00.000,OH,1100312,921199.0,179113,732.0,196,19753,0.0,0,2021-05-28T13:29:21.497,Agree,Agree,19753.0,0

In [3]:
# add date columns which only has year and month for use with groupby later on.. 
covid_df['date'] = pd.to_datetime(covid_df['submission_date']).dt.to_period('M').astype(str)
covid_df.tail()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_death,prob_death,date
42955,2020-05-28T00:00:00.000,IA,18585,NaN,NaN,228.0,0,506,14.0,0,2020-05-29T14:19:55.781,Not agree,Not agree,NaN,NaN,2020-05
42956,2020-06-07T00:00:00.000,SD,5438,NaN,NaN,71.0,0,65,0.0,1,2020-06-08T14:55:08.000,N/A,Agree,64.0,1,2020-06
42957,2021-04-30T00:00:00.000,SD,122660,NaN,NaN,128.0,17,1967,5.0,1,2021-05-01T13:43:22.175,N/A,Agree,1601.0,366,2021-04
42958,2021-03-10T00:00:00.000,SD,113962,NaN,NaN,209.0,37,1904,3.0,0,2021-03-11T15:36:21.295,N/A,Agree,1546.0,358,2021-03
42959,2021-05-27T00:00:00.000,OH,1100312,921199.0,179113,732.0,196,19753,0.0,0,2021-05-28T13:29:21.497,Agree,Agree,19753.0,0,2021-05

In [4]:
covid_df.dtypes

submission_date    object
state              object
tot_cases          object
conf_cases         object
prob_cases         object
new_case           object
pnew_case          object
tot_death          object
new_death          object
pnew_death         object
created_at         object
consent_cases      object
consent_deaths     object
conf_death         object
prob_death         object
date               object
dtype: object

In [5]:
# convert objects to float
covid_df["tot_cases"] =  covid_df.tot_cases.astype(float)
covid_df["tot_death"] = covid_df.tot_death.astype(float)

# select only the columns we gonna use and display df
covid_df = covid_df[["date", "state", "tot_cases", "tot_death"]]
covid_df.tail()

          date state  tot_cases  tot_death
42955  2020-05    IA    18585.0      506.0
42956  2020-06    SD     5438.0       65.0
42957  2021-04    SD   122660.0     1967.0
42958  2021-03    SD   113962.0     1904.0
42959  2021-05    OH  1100312.0    19753.0

# group by states to be used later
state_df = covid_df.groupby(['date', 'state']).sum().reset_index()
state_df

# group by states to be used later
state_df = covid_df.groupby('state').sum().reset_index()
state_df

In [6]:
# group by states to be used later
state_df = covid_df.groupby('state').mean().reset_index()
state_df

   state     tot_cases     tot_death
0     AK  4.835068e+04    273.227654
1     AL  3.706639e+05   7630.121508
2     AR  2.327978e+05   3783.188547
3     AS  1.530726e+00      0.000000
4     AZ  5.670182e+05  10872.170391
5     CA  2.343497e+06  35890.853352
6     CO  3.405230e+05   4417.885475
7     CT  2.058141e+05   5798.736034
8     DC  3.244730e+04    778.068436
9     DE  6.722082e+04   1098.737430
10    FL  1.585042e+06  27030.810056
11   FSM  2.034916e+00      0.000000
12    GA  7.474684e+05  13467.716480
13    GU  6.695895e+03    101.882682
14    HI  2.917503e+04    357.275140
15    IA  2.417977e+05   3660.069832
16    ID  1.281148e+05   1446.596369
17    IL  8.688666e+05  16343.479050
18    IN  4.773738e+05   8647.668994
19    KS  2.053481e+05   3030.839385
20    KY  3.094961e+05   5024.833799
21    LA  3.438472e+05   7670.511173
22    MA  4.296225e+05  12333.791899
23    MD  2.879054e+05   6317.385475
24    ME  4.111608e+04    523.872905
25    MI  6.222847e+05  13426.888268
26    MN  3.762319e+05   4773.889665
27    MO  4.054755e+05   6260.754190
28    MP  2.400028e+02      2.215084
29    MS  2.268395e+05   5193.981844
30    MT  7.404135e+04   1017.532123
31    NC  6.472695e+05   8661.226257
32    ND  7.205143e+04    943.026536
33    NE  1.431940e+05   1440.649441
34    NH  5.945295e+04    858.596369
35    NJ  6.150989e+05  18714.157821
36    NM  1.310660e+05   2524.798883
37    NV  2.132074e+05   3598.188547
38    NY  7.041007e+05  13431.417598
39   NYC  5.902058e+05  25237.692737
40    OH  6.981125e+05  11969.872905
41    OK  2.991736e+05   4706.099162
42    OR  1.393029e+05   1828.879888
43    PA  7.230655e+05  17069.847765
44    PR  8.494385e+04   1525.250000
45    PW  1.923184e+00      0.000000
46    RI  9.122066e+04   1784.738827
47   RMI  2.370112e+00      0.000000
48    SC  3.904509e+05   6283.740223
49    SD  7.852029e+04   1181.191341
50    TN  5.687296e+05   7672.927374
51    TX  1.923533e+06  33153.039106
52    UT  2.606869e+05   1460.918994
53    VA  4.258998e+05   6783.236034
54    VI  2.766767e+03     28.948324
55    VT  1.440940e+04    164.896648
56    WA  2.951452e+05   4032.966480
57    WI  4.359619e+05   4819.399441
58    WV  1.051300e+05   1774.703911
59    WY  4.161551e+04    483.534916

In [7]:
# add total recovery columns to df
covid_df["Total_recovered"] = covid_df.tot_cases - covid_df.tot_death
covid_df.tail()

          date state  tot_cases  tot_death  Total_recovered
42955  2020-05    IA    18585.0      506.0          18079.0
42956  2020-06    SD     5438.0       65.0           5373.0
42957  2021-04    SD   122660.0     1967.0         120693.0
42958  2021-03    SD   113962.0     1904.0         112058.0
42959  2021-05    OH  1100312.0    19753.0        1080559.0

In [8]:
# groupby date and state and take the mean value to get monthly average..
covid_monthly_df = round(covid_df.groupby(["date", "state"]).mean().reset_index(), 2)
covid_monthly_df

         date state   tot_cases  tot_death  Total_recovered
0     2020-01    AK        0.00       0.00             0.00
1     2020-01    AL        0.00       0.00             0.00
2     2020-01    AR        0.00       0.00             0.00
3     2020-01    AS        0.00       0.00             0.00
4     2020-01    AZ        0.60       0.00             0.60
...       ...   ...         ...        ...              ...
1495  2022-01    VT    63099.17     456.67         62642.50
1496  2022-01    WA   880274.33    9891.83        870382.50
1497  2022-01    WI  1140423.83   11245.33       1129178.50
1498  2022-01    WV   337248.33    5358.83        331889.50
1499  2022-01    WY   117083.17    1549.00        115534.17

[1500 rows x 5 columns]

In [9]:
# rename columns. name gotta be compatable wth sqlite database naming potocol.
covid_monthly_df = covid_monthly_df.rename(columns={"date": "Date", "state": "State", "tot_cases": "Total_cases", "tot_death": "Total_death"})
covid_monthly_df

         Date State  Total_cases  Total_death  Total_recovered
0     2020-01    AK         0.00         0.00             0.00
1     2020-01    AL         0.00         0.00             0.00
2     2020-01    AR         0.00         0.00             0.00
3     2020-01    AS         0.00         0.00             0.00
4     2020-01    AZ         0.60         0.00             0.60
...       ...   ...          ...          ...              ...
1495  2022-01    VT     63099.17       456.67         62642.50
1496  2022-01    WA    880274.33      9891.83        870382.50
1497  2022-01    WI   1140423.83     11245.33       1129178.50
1498  2022-01    WV    337248.33      5358.83        331889.50
1499  2022-01    WY    117083.17      1549.00        115534.17

[1500 rows x 5 columns]

In [10]:
# add death and recovery percentage columns. change NA values to zero
covid_monthly_df['Death_percent'] = round((covid_monthly_df.Total_death/covid_monthly_df.Total_cases)*100, 2)
covid_monthly_df['Recovery_percent'] = round((covid_monthly_df.Total_recovered/covid_monthly_df.Total_cases)*100, 2)
covid_monthly_df=covid_monthly_df.fillna(0)
covid_monthly_df

,Date,State,Total_cases,Total_death,Total_recovered,Death_percent,Recovery_percent
0,2020-01,AK,0.00,0.00,0.00,0.00,0.00
1,2020-01,AL,0.00,0.00,0.00,0.00,0.00
2,2020-01,AR,0.00,0.00,0.00,0.00,0.00
3,2020-01,AS,0.00,0.00,0.00,0.00,0.00
4,2020-01,AZ,0.60,0.00,0.60,0.00,100.00
...,...,...,...,...,...,...,...
1495,2022-01,VT,63099.17,456.67,62642.50,0.72,99.28
1496,2022-01,WA,880274.33,9891.83,870382.50,1.12,98.88
1497,2022-01,WI,1140423.83,11245.33,1129178.50,0.99,99.01
1498,2022-01,WV,337248.33,5358.83,331889.50,1.59,98.41
1499,2022-01,WY,117083.17,1549.00,115534.17,1.32,98.68

In [11]:
# save df as a csv file
covid_monthly_df.to_csv('../Data/monthly.csv')

## USA Total Cases and Death by State

In [12]:
# upload data file and read it ito a pandas dataframe
file = "../Data/US_COVID-19_Deaths.csv"
covid_stats_df = pd.read_csv(file)
covid_stats_df.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,Case Rate per 100000 in Last 7 Days,Death Rate per 100K in Last 7 Days
0,Alaska,17072,NaN,NaN,2616,2315,84,NaN,NaN,7,11,50.7,0.1
1,Alabama,199158,169266.0,29892.0,10009,4074,3026,2818.0,208.0,112,61,29.3,0.3
2,Arkansas,117360,NaN,NaN,7648,3894,2037,NaN,NaN,143,67,36.3,0.7
3,American Samoa,0,NaN,NaN,0,0,0,NaN,NaN,0,0,0.0,0.0
4,Arizona,252768,246468.0,6300.0,10288,3524,6087,5707.0,380.0,169,84,20.5,0.3

In [13]:
# select relevant columns only
covid_stats_df = covid_stats_df[['State/Territory', 'Total Cases', 'Case Rate per 100000', 'Total Deaths', 'Death Rate per 100000']]
covid_stats_df.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000
0,Alaska,17072,2315,84,11
1,Alabama,199158,4074,3026,61
2,Arkansas,117360,3894,2037,67
3,American Samoa,0,0,0,0
4,Arizona,252768,3524,6087,84

In [14]:
# add a state abbreviation column
covid_stats_df['State'] = state_df['state']
covid_stats_df.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000,State
0,Alaska,17072,2315,84,11,AK
1,Alabama,199158,4074,3026,61,AL
2,Arkansas,117360,3894,2037,67,AR
3,American Samoa,0,0,0,0,AS
4,Arizona,252768,3524,6087,84,AZ

In [15]:
# rename columns and drop any column with NA
covid_stats_df = covid_stats_df.rename(columns={"state": "State", "Total Cases": "Total_cases", "Case Rate per 100000": "Case_rate_per_100k", "Total Deaths": "Total_deaths", "Death Rate per 100000": "Death_rate_per_100k"})
covid_stats_df = covid_stats_df[["State", "Total_cases", "Case_rate_per_100k", "Total_deaths", "Death_rate_per_100k"]].fillna(0)
covid_stats_df.tail()

   State  Total_cases  Case_rate_per_100k  Total_deaths  Death_rate_per_100k
56    WA       112550                1494          2431                   32
57    WI       263571                4534          2269                   39
58    WV        26547                1470           480                   26
59    WY        15409                2667           105                   18
60     0      9581770                2895        234264                   71

## USA COVID-19 data with latitude and longtitude to create interactive map

In [16]:
# upload file and read to pandas dataframe
file = "../Data/US_COVID-19_stats.csv"
us_covid_df = pd.read_csv(file)
us_covid_df.head()

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-11-06 05:30:35,32.3182,-86.9023,199158,3026,84471.0,111661.0,1.0,4061.808804,1379107.0,NaN,1.519397,84000001,USA,28126.758423,NaN
1,Alaska,US,2020-11-06 05:30:35,61.3707,-152.4044,18174,84,7125.0,10965.0,2.0,2484.331107,781826.0,NaN,0.462199,84000002,USA,106873.261385,NaN
2,American Samoa,US,2020-11-06 05:30:35,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1768.0,NaN,NaN,16,ASM,3177.512985,NaN
3,Arizona,US,2020-11-06 05:30:35,33.7298,-111.4312,252768,6087,42317.0,204364.0,4.0,3472.699928,1826629.0,NaN,2.408137,84000004,USA,25095.480426,NaN
4,Arkansas,US,2020-11-06 05:30:35,34.9697,-92.3731,117360,2037,104816.0,10507.0,5.0,3888.920553,1392905.0,NaN,1.735685,84000005,USA,46156.244740,NaN

In [17]:
# select relevant columns
us_covid_df = us_covid_df[["Province_State", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Mortality_Rate"]]
us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685

In [18]:
# add state column to be filled with state abbreviation
us_covid_df["State"] = "" 
us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate,State
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397,
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199,
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN,
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137,
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685,

In [21]:
# upload States and their abbreviation
us_state_abbrev = {
    
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Diamond Princess': 'DP',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Grand Princess': 'GP',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [22]:
# loop through and assign abbreviation acoordinely
for index, row in us_covid_df.iterrows():
    us_covid_df.loc[index, "State"] = us_state_abbrev[row[0]]

us_covid_df

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate,State
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397,AL
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199,AK
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN,AS
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137,AZ
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685,AR
5,California,36.1162,-119.6816,956854,17860,NaN,1.866533,CA
6,Colorado,39.0598,-105.3111,121006,2353,8268.0,1.944532,CO
7,Connecticut,41.5978,-72.7554,77060,4656,9800.0,6.042045,CT
8,Delaware,39.3185,-75.5071,25753,716,13685.0,2.780259,DE
9,Diamond Princess,NaN,NaN,49,0,NaN,0.000000,DP
10,District of Columbia,38.8974,-77.0268,17682,650,13653.0,3.676055,DC
11,Florida,27.7663,-81.6868,827380,16961,NaN,2.049965,FL
12,Georgia,33.0406,-83.6431,368368,8126,NaN,2.205946,GA
13,Grand Princess,NaN,NaN,103,3,NaN,2.912621,GP
14,Guam,13.4443,144.7937,5004,85,3352.0,1.698641,GU
15,Hawaii,21.0943,-157.4983,15572,219,11958.0,1.406370,HI
16,Idaho,44.2405,-114.4788,69579,671,31210.0,0.964371,ID
17,Illinois,40.3495,-88.9861,453738,10313,NaN,2.272898,IL
18,Indiana,39.8494,-86.2583,196176,4511,128674.0,2.299466,IN
19,Iowa,42.0115,-93.2105,142491,1814,98037.0,1.273063,IA
20,Kansas,38.5266,-96.7265,90220,1079,2753.0,1.195965,KS
21,Kentucky,37.6681,-84.6701,115277,1534,20304.0,1.330708,KY
22,Louisiana,31.1695,-91.8678,185825,5995,172210.0,3.226154,LA
23,Maine,44.6939,-69.3819,7260,150,5751.0,2.066116,ME
24,Maryland,39.0639,-76.8021,149964,4182,8255.0,2.788669,MD
25,Massachusetts,42.2302,-71.5301,165161,10085,131646.0,6.106163,MA
26,Michigan,43.3266,-84.5361,218263,7833,121093.0,3.588790,MI
27,Minnesota,45.6945,-93.9002,164865,2609,137824.0,1.582507,MN
28,Mississippi,32.7416,-89.6787,123887,3405,105839.0,2.748472,MS
29,Missouri,38.4561,-92.2884,200042,3117,NaN,1.558173,MO
30,Montana,46.9219,-110.4544,36968,407,23300.0,1.100952,MT
31,Nebraska,41.1254,-98.2681,78012,674,45772.0,0.863970,NE
32,Nevada,38.3135,-117.0554,105360,1824,2511.0,1.731207,NV
33,New Hampshire,43.4525,-71.5639,11808,486,9776.0,4.115854,NH
34,New Jersey,40.2989,-74.5210,247219,16403,37696.0,6.635008,NJ
35,New Mexico,34.8405,-106.2485,51110,1082,22274.0,2.117003,NM
36,New York,42.1657,-74.9481,518812,33657,80225.0,6.487321,NY
37,North Carolina,35.6301,-79.8064,285661,4548,246318.0,1.592097,NC
38,North Dakota,47.5289,-99.7840,49837,596,40017.0,1.195899,ND
39,Northern Mariana Islands,15.0979,145.6739,98,2,29.0,2.040816,MP
40,Ohio,40.3888,-82.7649,235170,5461,178646.0,2.322150,OH
41,Oklahoma,35.5653,-96.9289,129873,1413,111695.0,1.087986,OK
42,Oregon,44.5720,-122.0709,47839,710,5870.0,1.484145,OR
43,Pennsylvania,40.5908,-77.2098,225698,8923,165424.0,3.953513,PA
44,Puerto Rico,18.2208,-66.5901,69416,855,31182.0,1.231705,PR
45,Rhode Island,41.6809,-71.5118,35750,1222,2881.0,3.418182,RI
46,South Carolina,33.8569,-80.9450,181639,3992,94333.0,2.197766,SC
47,South Dakota,44.2998,-99.4388,51151,482,37059.0,0.942308,SD
48,Tennessee,35.7478,-86.6923,271771,3509,243492.0,1.291161,TN
49,Texas,31.0545,-97.5635,969490,18907,802611.0,1.950201,TX
50,Utah,40.1500,-111.8624,124292,632,89837.0,0.508480,UT
51,Vermont,44.0459,-72.7107,2303,58,1888.0,2.518454,VT
52,Virgin Islands,18.3358,-64.8963,1388,23,1332.0,1.657061,VI
53,Virginia,37.7693,-78.1700,187202,3688,21289.0,1.970064,VA
54,Washington,47.4009,-121.4905,112550,2431,NaN,2.159929,WA
55,West Virginia,38.4912,-80.9545,26547,482,20175.0,1.815648,WV
56,Wisconsin,44.2685,-89.6165,249924,2194,193369.0,0.877867,WI
57,Wyoming,42.7560,-107.3025,15409,105,9709.0,0.681420,WY

In [ ]:
# loop through and assign abbreviation acoordinely
# for index, row in us_covid_df.iterrows():
#     if row["State"] == "DP":
#         us_covid_df.loc[index, "Lat"] = 14.5214
#         us_covid_df.loc[index, "Long_"] = 120.9709

#     elif row["State"] == "GP":
#         us_covid_df.loc[index, "Lat"] = 32.1584
#         us_covid_df.loc[index, "Long_"] = 117.5676

    # if row["State"] == FSM:
    #     us_covid_df.loc[index, "Lat"] = 6.8874
    #     us_covid_df.loc[index, "Long"] = 158.2150

    # elif row["State"] == NYC:
    #     us_covid_df.loc[index, "Lat"] = 40.7128
    #     us_covid_df.loc[index, "Long"] = -74.0060

    # elif row["State"] == PW:
    #     us_covid_df.loc[index, "Lat"] = 7.5150
    #     us_covid_df.loc[index, "Long"] = 134.5825

    # elif row["State"] == RMI:
    #     us_covid_df.loc[index, "Lat"] = 7.1315
    #     us_covid_df.loc[index, "Long"] = 171.1845

# us_covid_df.head()

In [23]:
# rename columns and add recovery percent column
us_covid_df = us_covid_df.rename(columns={"Long_": "Long", "Mortality_Rate":"Death_percent"})
us_covid_df["Recovery_percent"]=us_covid_df.Recovered/us_covid_df.Confirmed
us_covid_df = us_covid_df[["State", "Lat", "Long", "Death_percent", "Recovery_percent"]].fillna(0)
us_covid_df.head()

  State      Lat      Long  Death_percent  Recovery_percent
0    AL  32.3182  -86.9023       1.519397          0.424141
1    AK  61.3707 -152.4044       0.462199          0.392044
2    AS -14.2710 -170.1320       0.000000          0.000000
3    AZ  33.7298 -111.4312       2.408137          0.167414
4    AR  34.9697  -92.3731       1.735685          0.893115

In [24]:
# loop through and assign abbreviation acoordinely
for index, row in us_covid_df.iterrows():
    if row["State"] == "DP":
        us_covid_df.loc[index, "Lat"] = 14.5214
        us_covid_df.loc[index, "Long"] = 120.9709

    elif row["State"] == "GP":
        us_covid_df.loc[index, "Lat"] = 32.1584
        us_covid_df.loc[index, "Long"] = 117.5676

    # elif row["State"] == FSM:
    #     us_covid_df.loc[index, "Lat"] = 6.8874
    #     us_covid_df.loc[index, "Long"] = 158.2150

    # elif row["State"] == NYC:
    #     us_covid_df.loc[index, "Lat"] = 40.7128
    #     us_covid_df.loc[index, "Long"] = -74.0060

    # elif row["State"] == PW:
    #     us_covid_df.loc[index, "Lat"] = 7.5150
    #     us_covid_df.loc[index, "Long"] = 134.5825

    # elif row["State"] == RMI:
    #     us_covid_df.loc[index, "Lat"] = 7.1315
    #     us_covid_df.loc[index, "Long"] = 171.1845

us_covid_df.head()

  State      Lat      Long  Death_percent  Recovery_percent
0    AL  32.3182  -86.9023       1.519397          0.424141
1    AK  61.3707 -152.4044       0.462199          0.392044
2    AS -14.2710 -170.1320       0.000000          0.000000
3    AZ  33.7298 -111.4312       2.408137          0.167414
4    AR  34.9697  -92.3731       1.735685          0.893115

In [25]:
# merge two df into one dataframe using left joint.
us_covid_combine_df = pd.merge(covid_stats_df, us_covid_df, how='left', on=['State','State'])
us_covid_combine_df.head()

,State,Total_cases,Case_rate_per_100k,Total_deaths,Death_rate_per_100k,Lat,Long,Death_percent,Recovery_percent
0,AK,17072,2315,84,11,61.3707,-152.4044,0.462199,0.392044
1,AL,199158,4074,3026,61,32.3182,-86.9023,1.519397,0.424141
2,AR,117360,3894,2037,67,34.9697,-92.3731,1.735685,0.893115
3,AS,0,0,0,0,-14.2710,-170.1320,0.000000,0.000000
4,AZ,252768,3524,6087,84,33.7298,-111.4312,2.408137,0.167414

In [26]:
# save to a csv file
us_covid_combine_df.to_csv('../Data/states.csv')

## Add Geo property to states in old state file

In [27]:
# Add Lat and Long Columns
geomap_df = covid_monthly_df.groupby('State').mean().reset_index()
# covid_monthly_df["Long"] = ""
geomap_df.head()

,State,Total_cases,Total_death,Total_recovered,Death_percent,Recovery_percent
0,AK,50360.9652,287.0420,50073.9236,1.0096,90.9904
1,AL,378278.2924,7704.0232,370574.2684,inf,-inf
2,AR,237463.5280,3853.1280,233610.4012,1.4552,90.5448
3,AS,1.7924,0.0000,1.7924,0.0000,40.0000
4,AZ,578219.9492,11005.7828,567214.1656,2.0304,97.9696

## World COVID-19 Data by Country

In [28]:
# upload file and read into a pandas dataframe
file = "../Data/World_COVID-19_Stats.csv"
world_covid_df = pd.read_csv(file)
world_covid_df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-06 05:24:55,33.93911,67.709953,41935,1554,34440,5941.0,Afghanistan,107.723573,3.705735
1,NaN,NaN,NaN,Albania,2020-11-06 05:24:55,41.15330,20.168300,22721,543,11696,10482.0,Albania,789.526722,2.389860
2,NaN,NaN,NaN,Algeria,2020-11-06 05:24:55,28.03390,1.659600,60169,2011,41244,16914.0,Algeria,137.212244,3.342253
3,NaN,NaN,NaN,Andorra,2020-11-06 05:24:55,42.50630,1.521800,5135,75,3858,1202.0,Andorra,6645.958714,1.460565
4,NaN,NaN,NaN,Angola,2020-11-06 05:24:55,-11.20270,17.873900,12102,299,5350,6453.0,Angola,36.821948,2.470666

In [29]:
# select relevant columns only
world_covid_df = world_covid_df[["Country_Region", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Case-Fatality_Ratio"]]
world_covid_df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Case-Fatality_Ratio
0,Afghanistan,33.93911,67.709953,41935,1554,34440,3.705735
1,Albania,41.15330,20.168300,22721,543,11696,2.389860
2,Algeria,28.03390,1.659600,60169,2011,41244,3.342253
3,Andorra,42.50630,1.521800,5135,75,3858,1.460565
4,Angola,-11.20270,17.873900,12102,299,5350,2.470666

In [30]:
# rename columns and add a recovery percent column
world_covid_df = world_covid_df.rename(columns={"Long_": "Long", "Case-Fatality_Ratio":"Death_percent", "Country_Region": "Country"})
world_covid_df["Recovery_percent"]=world_covid_df.Recovered/world_covid_df.Confirmed
world_covid_df.head()

,Country,Lat,Long,Confirmed,Deaths,Recovered,Death_percent,Recovery_percent
0,Afghanistan,33.93911,67.709953,41935,1554,34440,3.705735,0.821271
1,Albania,41.15330,20.168300,22721,543,11696,2.389860,0.514766
2,Algeria,28.03390,1.659600,60169,2011,41244,3.342253,0.685469
3,Andorra,42.50630,1.521800,5135,75,3858,1.460565,0.751315
4,Angola,-11.20270,17.873900,12102,299,5350,2.470666,0.442076

In [31]:
# add missing geoinfo to country
for index, row in world_covid_df.iterrows(): 
    if row["Country"] == "Canada":
        world_covid_df.loc[index, "Lat"] = 56.1304
        world_covid_df.loc[index, "Long"] = 106.3468
world_covid_df

,Country,Lat,Long,Confirmed,Deaths,Recovered,Death_percent,Recovery_percent
0,Afghanistan,33.939110,67.709953,41935,1554,34440,3.705735,0.821271
1,Albania,41.153300,20.168300,22721,543,11696,2.389860,0.514766
2,Algeria,28.033900,1.659600,60169,2011,41244,3.342253,0.685469
3,Andorra,42.506300,1.521800,5135,75,3858,1.460565,0.751315
4,Angola,-11.202700,17.873900,12102,299,5350,2.470666,0.442076
...,...,...,...,...,...,...,...,...
3955,West Bank and Gaza,31.952200,35.233200,56672,508,48680,0.896386,0.858978
3956,Western Sahara,24.215500,-12.885800,10,1,8,10.000000,0.800000
3957,Yemen,15.552727,48.516388,2063,601,1375,29.132332,0.666505
3958,Zambia,-13.133897,27.849332,16770,349,15827,2.081097,0.943769
3959,Zimbabwe,-19.015438,29.154857,8444,248,7975,2.936997,0.944458

In [32]:
# save file as a csv
world_covid_df.to_csv('../Data/world.csv')

## build SQlite DataBase

In [36]:
# import modules
import sqlite3
from sqlite3 import Error

# series of functions to  build database tables in sqlite database.

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return conn
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

def drop_table(conn, drop_table_sql):
    """ drop a table from the drop_table_sql statement
    :param conn: Connection object
    :param drop_table_sql: a drop TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(drop_table_sql)
    except Error as e:
        print(e)

# build empty tables with correct columns names
def main():
    database = r"../DataBase/covid-19.db"
    sql_create_monthly_table = """CREATE TABLE monthly(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT, 
                                        Date text NOT NULL,
                                        State text,
                                        Total_cases float,
                                        Total_death float,
                                        Total_recovered float,
                                        Death_percent float,
                                        Recovery_percent float
                                    ); """

    sql_drop_monthly_table = """DROP TABLE if exists monthly;"""
    
    sql_create_states_table = """CREATE TABLE states(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                                        State text,
                                        Total_cases float,
                                        Case_rate_per_100k float,
                                        Total_deaths float,
                                        Death_rate_per_100k float,
                                        Lat float,
                                        Long float,
                                        Death_percent float,
                                        Recovery_percent float
                                );"""

    sql_drop_states_table = """DROP TABLE if exists states;"""    

    sql_create_world_table = """CREATE TABLE world(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                                        Country text,
                                        Lat float,
                                        Long float,
                                        Confirmed float,
                                        Deaths float,
                                        Recovered float,
                                        Recovery_percent float,
                                        Death_percent float
                                );"""

    sql_drop_world_table = """DROP TABLE if exists world;"""

    # create a database connection
    conn = create_connection(database)
    
    # create tables
    if conn is not None:
        # create covid_monthly table
        drop_table(conn, sql_drop_monthly_table)
        create_table(conn, sql_create_monthly_table)

        # create covid_states table
        drop_table(conn, sql_drop_states_table)
        create_table(conn, sql_create_states_table)

        #create covid_world table
        drop_table(conn, sql_drop_world_table)
        create_table(conn, sql_create_world_table)
        
    # error handling
    else:
        print("Error! cannot create the database connection.")
if __name__ == '__main__':
    main()

In [37]:
# create engine connection to database
engine = create_engine('sqlite:///../DataBase/covid-19.db')

# # populate tables with information from dataframes
covid_monthly_df.to_sql(name='monthly', con=engine, if_exists = "append", index=False)
world_covid_df.to_sql(name='world', con=engine, if_exists = "append", index= False)
us_covid_combine_df.to_sql(name='states', con=engine, if_exists = "append", index=False)

In [38]:
# querry monthly data from database. to test and make sure tables are working
pd.read_sql('select * from monthly', engine)

,id,Date,State,Total_cases,Total_death,Total_recovered,Death_percent,Recovery_percent
0,1,2020-01,AK,0.00,0.00,0.00,0.00,0.00
1,2,2020-01,AL,0.00,0.00,0.00,0.00,0.00
2,3,2020-01,AR,0.00,0.00,0.00,0.00,0.00
3,4,2020-01,AS,0.00,0.00,0.00,0.00,0.00
4,5,2020-01,AZ,0.60,0.00,0.60,0.00,100.00
...,...,...,...,...,...,...,...,...
1495,1496,2022-01,VT,63099.17,456.67,62642.50,0.72,99.28
1496,1497,2022-01,WA,880274.33,9891.83,870382.50,1.12,98.88
1497,1498,2022-01,WI,1140423.83,11245.33,1129178.50,0.99,99.01
1498,1499,2022-01,WV,337248.33,5358.83,331889.50,1.59,98.41
1499,1500,2022-01,WY,117083.17,1549.00,115534.17,1.32,98.68

In [39]:
# querry states data from database. to test and make sure tables are working
pd.read_sql('select * from states', engine)

,id,State,Total_cases,Case_rate_per_100k,Total_deaths,Death_rate_per_100k,Lat,Long,Death_percent,Recovery_percent
0,1,AK,17072.0,2315.0,84.0,11.0,61.3707,-152.4044,0.462199,0.392044
1,2,AL,199158.0,4074.0,3026.0,61.0,32.3182,-86.9023,1.519397,0.424141
2,3,AR,117360.0,3894.0,2037.0,67.0,34.9697,-92.3731,1.735685,0.893115
3,4,AS,0.0,0.0,0.0,0.0,-14.2710,-170.1320,0.000000,0.000000
4,5,AZ,252768.0,3524.0,6087.0,84.0,33.7298,-111.4312,2.408137,0.167414
...,...,...,...,...,...,...,...,...,...,...
56,57,WA,112550.0,1494.0,2431.0,32.0,47.4009,-121.4905,2.159929,0.000000
57,58,WI,263571.0,4534.0,2269.0,39.0,44.2685,-89.6165,0.877867,0.773711
58,59,WV,26547.0,1470.0,480.0,26.0,38.4912,-80.9545,1.815648,0.759973
59,60,WY,15409.0,2667.0,105.0,18.0,42.7560,-107.3025,0.681420,0.630086
60,61,0,9581770.0,2895.0,234264.0,71.0,NaN,NaN,NaN,NaN

In [ ]:
# make an API call to make sure Flask app is working 
import requests
url="http://127.0.0.1:5000/api/v1.0/monthly"
resp=requests.get(url)
resp

In [ ]:
data = resp.json()
data