### Link To CDC for Raw Data
### url: https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36

In [1]:
# import dependencies
import pandas as pd
import datetime as dt
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine, inspect, func
import psycopg2
import requests
from sodapy import Socrata

# import cdc key for API
from cdc_token import my_token

## USA Monthly Cases by State

In [2]:
# set a client with a token
client = Socrata("data.cdc.gov", my_token)

# results returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("9mfq-cb36", limit=50000)

# Convert to pandas DataFrame and display
covid_df = pd.DataFrame.from_records(results)
covid_df.tail()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_death,prob_death
29095,2020-06-19T00:00:00.000,OK,13160,NaN,NaN,535.0,0,404,2.0,0,2020-06-20T00:00:00.000,Not agree,Agree,404.0,0
29096,2021-04-28T00:00:00.000,AS,0,NaN,NaN,0.0,0,0,0.0,0,2021-04-29T13:47:03.356,NaN,NaN,NaN,NaN
29097,2020-02-24T00:00:00.000,CO,0,NaN,NaN,0.0,NaN,0,0.0,NaN,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN
29098,2021-03-10T00:00:00.000,SD,113962,NaN,NaN,209.0,37,1904,3.0,0,2021-03-11T15:36:21.295,N/A,Agree,1546.0,358
29099,2020-12-28T00:00:00.000,MA,356934,342764.0,14170,4198.0,138,12393,76.0,0,2020-12-30T00:00:00.000,Agree,Agree,12130.0,263

In [3]:
# add date columns which only has year and month for use with groupby later on.. 
covid_df['date'] = pd.to_datetime(covid_df['submission_date']).dt.to_period('M').astype(str)
covid_df.tail()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,new_death,pnew_death,created_at,consent_cases,consent_deaths,conf_death,prob_death,date
29095,2020-06-19T00:00:00.000,OK,13160,NaN,NaN,535.0,0,404,2.0,0,2020-06-20T00:00:00.000,Not agree,Agree,404.0,0,2020-06
29096,2021-04-28T00:00:00.000,AS,0,NaN,NaN,0.0,0,0,0.0,0,2021-04-29T13:47:03.356,NaN,NaN,NaN,NaN,2021-04
29097,2020-02-24T00:00:00.000,CO,0,NaN,NaN,0.0,NaN,0,0.0,NaN,2020-03-26T16:22:39.452,Agree,Agree,NaN,NaN,2020-02
29098,2021-03-10T00:00:00.000,SD,113962,NaN,NaN,209.0,37,1904,3.0,0,2021-03-11T15:36:21.295,N/A,Agree,1546.0,358,2021-03
29099,2020-12-28T00:00:00.000,MA,356934,342764.0,14170,4198.0,138,12393,76.0,0,2020-12-30T00:00:00.000,Agree,Agree,12130.0,263,2020-12

In [4]:
covid_df.dtypes

submission_date    object
state              object
tot_cases          object
conf_cases         object
prob_cases         object
new_case           object
pnew_case          object
tot_death          object
new_death          object
pnew_death         object
created_at         object
consent_cases      object
consent_deaths     object
conf_death         object
prob_death         object
date               object
dtype: object

In [5]:
# convert objects to float
covid_df["tot_cases"] =  covid_df.tot_cases.astype(float)
covid_df["tot_death"] = covid_df.tot_death.astype(float)

# select only the columns we gonna use and display df
covid_df = covid_df[["date", "state", "tot_cases", "tot_death"]]
covid_df.tail()

          date state  tot_cases  tot_death
29095  2020-06    OK    13160.0      404.0
29096  2021-04    AS        0.0        0.0
29097  2020-02    CO        0.0        0.0
29098  2021-03    SD   113962.0     1904.0
29099  2020-12    MA   356934.0    12393.0

In [6]:
# group by states to be used later
state_df = covid_df.groupby(['date', 'state']).sum().reset_index()
state_df

         date state   tot_cases  tot_death
0     2020-01    AK         0.0        0.0
1     2020-01    AL       398.0        0.0
2     2020-01    AR         0.0        0.0
3     2020-01    AS         0.0        0.0
4     2020-01    AZ         6.0        0.0
...       ...   ...         ...        ...
1015  2021-05    VT    471288.0     5010.0
1016  2021-05    WA   8324723.0   111755.0
1017  2021-05    WI  13332824.0   153170.0
1018  2021-05    WV   3133642.0    54634.0
1019  2021-05    WY   1176438.0    14214.0

[1020 rows x 4 columns]

In [7]:
# group by states to be used later
state_df = covid_df.groupby('state').sum().reset_index()
state_df

   state    tot_cases   tot_death
0     AK   10825992.0     66019.0
1     AL  103436537.0   2206599.0
2     AR   62258214.0   1020082.0
3     AS        452.0         0.0
4     AZ  158536879.0   3181260.0
5     CA  673472656.0  11158931.0
6     CO   85263860.0   1367081.0
7     CT   57449588.0   2175397.0
8     DC    9439340.0    287144.0
9     DE   17573951.0    340467.0
10    FL  401767068.0   6933215.0
11   FSM        133.0         0.0
12    GA  204529504.0   3787150.0
13    GU    1700997.0     28650.0
14    HI    5969853.0     86993.0
15    IA   70534783.0   1084531.0
16    ID   34785209.0    369476.0
17    IL  250699984.0   5370059.0
18    IN  128327746.0   2717378.0
19    KS   56192214.0    812350.0
20    KY   74114132.0    972875.0
21    LA   94427654.0   2521966.0
22    MA  119337596.0   4526260.0
23    MD   84059014.0   2017914.0
24    ME    8249511.0    130635.0
25    MI  165412735.0   4288275.0
26    MN  100689904.0   1464428.0
27    MO  110883987.0   1807582.0
28    MP      36353.0       816.0
29    MS   62412448.0   1652920.0
30    MT   19051761.0    250807.0
31    NC  165242677.0   2258748.0
32    ND   20979089.0    289582.0
33    NE   41513509.0    420697.0
34    NH   13550085.0    264573.0
35    NJ  174908355.0   7087711.0
36    NM   35313522.0    727067.0
37    NV   59224438.0    999145.0
38    NY  191403822.0   4774255.0
39   NYC  170859148.0  10164905.0
40    OH  180194292.0   3303737.0
41    OK   82219625.0   1222963.0
42    OR   30614574.0    437293.0
43    PA  181044831.0   5279992.0
44    PR   22925997.0    421130.0
45    PW          0.0         0.0
46    RI   25589425.0    626352.0
47   RMI        767.0         0.0
48    SC  102218907.0   1847848.0
49    SD   23201416.0    346297.0
50    TN  156357594.0   2174249.0
51    TX  520137779.0   9540229.0
52    UT   71524307.0    380401.0
53    VA  113291866.0   1898987.0
54    VI     599414.0      7054.0
55    VT    2897845.0     45590.0
56    WA   69826926.0   1170624.0
57    WI  124602574.0   1378677.0
58    WV   23337957.0    413190.0
59    WY   10201299.0    111875.0

In [10]:
# group by states to be used later
state_df = covid_df.groupby('state').mean().reset_index()
state_df

   state     tot_cases     tot_death
0     AK  2.232163e+04    136.121649
1     AL  2.132712e+05   4549.688660
2     AR  1.283675e+05   2103.261856
3     AS  9.319588e-01      0.000000
4     AZ  3.268802e+05   6559.298969
5     CA  1.388603e+06  23008.105155
6     CO  1.758018e+05   2818.723711
7     CT  1.184528e+05   4485.354639
8     DC  1.946256e+04    592.049485
9     DE  3.623495e+04    701.993814
10    FL  8.283857e+05  14295.288660
11   FSM  2.742268e-01      0.000000
12    GA  4.217103e+05   7808.556701
13    GU  3.507210e+03     59.072165
14    HI  1.230898e+04    179.367010
15    IA  1.454325e+05   2236.146392
16    ID  7.172208e+04    761.806186
17    IL  5.169072e+05  11072.286598
18    IN  2.645933e+05   5602.841237
19    KS  1.158602e+05   1674.948454
20    KY  1.528126e+05   2005.927835
21    LA  1.946962e+05   5199.929897
22    MA  2.460569e+05   9332.494845
23    MD  1.733176e+05   4160.647423
24    ME  1.700930e+04    269.350515
25    MI  3.410572e+05   8841.804124
26    MN  2.076080e+05   3019.439175
27    MO  2.286268e+05   3726.973196
28    MP  7.495464e+01      1.682474
29    MS  1.286855e+05   3408.082474
30    MT  3.928198e+04    517.127835
31    NC  3.407066e+05   4657.212371
32    ND  4.325585e+04    597.076289
33    NE  8.559486e+04    867.416495
34    NH  2.793832e+04    545.511340
35    NJ  3.606358e+05  14613.837113
36    NM  7.281139e+04   1499.107216
37    NV  1.221122e+05   2060.092784
38    NY  3.946471e+05   9843.824742
39   NYC  3.522869e+05  20958.567010
40    OH  3.715346e+05   6811.828866
41    OK  1.695250e+05   2521.573196
42    OR  6.312283e+04    901.635052
43    PA  3.732883e+05  10886.581443
44    PR  4.727010e+04    868.309278
45    PW  0.000000e+00      0.000000
46    RI  5.276170e+04   1291.447423
47   RMI  1.581443e+00      0.000000
48    SC  2.107606e+05   3809.995876
49    SD  4.783797e+04    714.014433
50    TN  3.223868e+05   4482.987629
51    TX  1.072449e+06  19670.575258
52    UT  1.474728e+05    784.331959
53    VA  2.335915e+05   3915.437113
54    VI  1.235905e+03     14.544330
55    VT  5.974938e+03     94.000000
56    WA  1.439730e+05   2413.657732
57    WI  2.569125e+05   2842.632990
58    WV  4.811950e+04    851.938144
59    WY  2.103361e+04    230.670103

In [11]:
# add total recovery columns to df
covid_df["Total_recovered"] = covid_df.tot_cases - covid_df.tot_death
covid_df.tail()

          date state  tot_cases  tot_death  Total_recovered
29095  2020-06    OK    13160.0      404.0          12756.0
29096  2021-04    AS        0.0        0.0              0.0
29097  2020-02    CO        0.0        0.0              0.0
29098  2021-03    SD   113962.0     1904.0         112058.0
29099  2020-12    MA   356934.0    12393.0         344541.0

In [12]:
# groupby date and state and take the mean value to get monthly average..
covid_monthly_df = round(covid_df.groupby(["date", "state"]).mean().reset_index(), 2)
covid_monthly_df

         date state  tot_cases  tot_death  Total_recovered
0     2020-01    AK       0.00       0.00              0.0
1     2020-01    AL      39.80       0.00             39.8
2     2020-01    AR       0.00       0.00              0.0
3     2020-01    AS       0.00       0.00              0.0
4     2020-01    AZ       0.60       0.00              0.6
...       ...   ...        ...        ...              ...
1015  2021-05    VT   23564.40     250.50          23313.9
1016  2021-05    WA  416236.15    5587.75         410648.4
1017  2021-05    WI  666641.20    7658.50         658982.7
1018  2021-05    WV  156682.10    2731.70         153950.4
1019  2021-05    WY   58821.90     710.70          58111.2

[1020 rows x 5 columns]

In [13]:
# rename columns. name gotta be compatable wth sqlite database naming potocol.
covid_monthly_df = covid_monthly_df.rename(columns={"date": "Date", "state": "State", "tot_cases": "Average_cases", "tot_death": "Average_death", "Total_recovered": "Average_recovery"})
covid_monthly_df

         Date State  Average_cases  Average_death  Average_recovery
0     2020-01    AK           0.00           0.00               0.0
1     2020-01    AL          39.80           0.00              39.8
2     2020-01    AR           0.00           0.00               0.0
3     2020-01    AS           0.00           0.00               0.0
4     2020-01    AZ           0.60           0.00               0.6
...       ...   ...            ...            ...               ...
1015  2021-05    VT       23564.40         250.50           23313.9
1016  2021-05    WA      416236.15        5587.75          410648.4
1017  2021-05    WI      666641.20        7658.50          658982.7
1018  2021-05    WV      156682.10        2731.70          153950.4
1019  2021-05    WY       58821.90         710.70           58111.2

[1020 rows x 5 columns]

In [14]:
# add death and recovery percentage columns. change NA values to zero
covid_monthly_df['Death_percent'] = round((covid_monthly_df.Average_death/covid_monthly_df.Average_cases)*100, 2)
covid_monthly_df['Recovery_percent'] = round((covid_monthly_df.Average_recovery/covid_monthly_df.Average_cases)*100, 2)
covid_monthly_df=covid_monthly_df.fillna(0)
covid_monthly_df

,Date,State,Average_cases,Average_death,Average_recovery,Death_percent,Recovery_percent
0,2020-01,AK,0.00,0.00,0.0,0.00,0.00
1,2020-01,AL,39.80,0.00,39.8,0.00,100.00
2,2020-01,AR,0.00,0.00,0.0,0.00,0.00
3,2020-01,AS,0.00,0.00,0.0,0.00,0.00
4,2020-01,AZ,0.60,0.00,0.6,0.00,100.00
...,...,...,...,...,...,...,...
1015,2021-05,VT,23564.40,250.50,23313.9,1.06,98.94
1016,2021-05,WA,416236.15,5587.75,410648.4,1.34,98.66
1017,2021-05,WI,666641.20,7658.50,658982.7,1.15,98.85
1018,2021-05,WV,156682.10,2731.70,153950.4,1.74,98.26
1019,2021-05,WY,58821.90,710.70,58111.2,1.21,98.79

In [15]:
# save df as a csv file
covid_monthly_df.to_csv('../Data/monthly.csv')

## USA Total Cases and Death by State

In [16]:
# upload data file and read it ito a pandas dataframe
file = "../Data/US_COVID-19_Deaths.csv"
covid_stats_df = pd.read_csv(file)
covid_stats_df.head()

,State/Territory,Total Cases,Confirmed Cases,Probable Cases,Cases in Last 7 Days,Case Rate per 100000,Total Deaths,Confirmed Deaths,Probable Deaths,Deaths in Last 7 Days,Death Rate per 100000,Case Rate per 100000 in Last 7 Days,Death Rate per 100K in Last 7 Days
0,Alaska,17072,NaN,NaN,2616,2315,84,NaN,NaN,7,11,50.7,0.1
1,Alabama,199158,169266.0,29892.0,10009,4074,3026,2818.0,208.0,112,61,29.3,0.3
2,Arkansas,117360,NaN,NaN,7648,3894,2037,NaN,NaN,143,67,36.3,0.7
3,American Samoa,0,NaN,NaN,0,0,0,NaN,NaN,0,0,0.0,0.0
4,Arizona,252768,246468.0,6300.0,10288,3524,6087,5707.0,380.0,169,84,20.5,0.3

In [17]:
# select relevant columns only
covid_stats_df = covid_stats_df[['State/Territory', 'Total Cases', 'Case Rate per 100000', 'Total Deaths', 'Death Rate per 100000']]
covid_stats_df.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000
0,Alaska,17072,2315,84,11
1,Alabama,199158,4074,3026,61
2,Arkansas,117360,3894,2037,67
3,American Samoa,0,0,0,0
4,Arizona,252768,3524,6087,84

In [18]:
# add a state abbreviation column
covid_stats_df['State'] = state_df['state']
covid_stats_df.head()

,State/Territory,Total Cases,Case Rate per 100000,Total Deaths,Death Rate per 100000,State
0,Alaska,17072,2315,84,11,AK
1,Alabama,199158,4074,3026,61,AL
2,Arkansas,117360,3894,2037,67,AR
3,American Samoa,0,0,0,0,AS
4,Arizona,252768,3524,6087,84,AZ

In [19]:
# rename columns and drop any column with NA
covid_stats_df = covid_stats_df.rename(columns={"state": "State", "Total Cases": "Total_cases", "Case Rate per 100000": "Case_rate_per_100k", "Total Deaths": "Total_deaths", "Death Rate per 100000": "Death_rate_per_100k"})
covid_stats_df = covid_stats_df[["State", "Total_cases", "Case_rate_per_100k", "Total_deaths", "Death_rate_per_100k"]].fillna(0)
covid_stats_df.tail()

   State  Total_cases  Case_rate_per_100k  Total_deaths  Death_rate_per_100k
56    WA       112550                1494          2431                   32
57    WI       263571                4534          2269                   39
58    WV        26547                1470           480                   26
59    WY        15409                2667           105                   18
60     0      9581770                2895        234264                   71

## USA COVID-19 data with latitude and longtitude to create interactive map

In [20]:
# upload file and read to pandas dataframe
file = "../Data/US_COVID-19_stats.csv"
us_covid_df = pd.read_csv(file)
us_covid_df

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-11-06 05:30:35,32.3182,-86.9023,199158,3026,84471.0,111661.0,1.0,4061.808804,1379107.0,NaN,1.519397,84000001,USA,28126.758423,NaN
1,Alaska,US,2020-11-06 05:30:35,61.3707,-152.4044,18174,84,7125.0,10965.0,2.0,2484.331107,781826.0,NaN,0.462199,84000002,USA,106873.261385,NaN
2,American Samoa,US,2020-11-06 05:30:35,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1768.0,NaN,NaN,16,ASM,3177.512985,NaN
3,Arizona,US,2020-11-06 05:30:35,33.7298,-111.4312,252768,6087,42317.0,204364.0,4.0,3472.699928,1826629.0,NaN,2.408137,84000004,USA,25095.480426,NaN
4,Arkansas,US,2020-11-06 05:30:35,34.9697,-92.3731,117360,2037,104816.0,10507.0,5.0,3888.920553,1392905.0,NaN,1.735685,84000005,USA,46156.244740,NaN
5,California,US,2020-11-06 05:30:35,36.1162,-119.6816,956854,17860,NaN,938994.0,6.0,2421.665822,19266363.0,NaN,1.866533,84000006,USA,48760.513930,NaN
6,Colorado,US,2020-11-06 05:30:35,39.0598,-105.3111,121006,2353,8268.0,110385.0,8.0,2101.259721,2109114.0,NaN,1.944532,84000008,USA,36624.599565,NaN
7,Connecticut,US,2020-11-06 05:30:35,41.5978,-72.7554,77060,4656,9800.0,62604.0,9.0,2161.396824,2433409.0,NaN,6.042045,84000009,USA,68252.822283,NaN
8,Delaware,US,2020-11-06 05:30:35,39.3185,-75.5071,25753,716,13685.0,11352.0,10.0,2644.685981,573791.0,NaN,2.780259,84000010,USA,58925.057817,NaN
9,Diamond Princess,US,2020-11-06 05:30:35,NaN,NaN,49,0,NaN,49.0,88888.0,NaN,NaN,NaN,0.000000,84088888,USA,NaN,NaN
10,District of Columbia,US,2020-11-06 05:30:35,38.8974,-77.0268,17682,650,13653.0,3379.0,11.0,2505.423316,540502.0,NaN,3.676055,84000011,USA,76585.584960,NaN
11,Florida,US,2020-11-06 05:30:35,27.7663,-81.6868,827380,16961,NaN,810419.0,12.0,3852.268049,10328997.0,NaN,2.049965,84000012,USA,48091.644851,NaN
12,Georgia,US,2020-11-06 05:30:35,33.0406,-83.6431,368368,8126,NaN,360242.0,13.0,3469.467120,3672160.0,NaN,2.205946,84000013,USA,34586.170298,NaN
13,Grand Princess,US,2020-11-06 05:30:35,NaN,NaN,103,3,NaN,100.0,99999.0,NaN,NaN,NaN,2.912621,84099999,USA,NaN,NaN
14,Guam,US,2020-11-06 05:30:35,13.4443,144.7937,5004,85,3352.0,1567.0,66.0,3046.964909,70467.0,NaN,1.698641,316,GUM,42907.769030,NaN
15,Hawaii,US,2020-11-06 05:30:35,21.0943,-157.4983,15572,219,11958.0,3395.0,15.0,1099.816933,547333.0,NaN,1.406370,84000015,USA,38656.954866,NaN
16,Idaho,US,2020-11-06 05:30:35,44.2405,-114.4788,69579,671,31210.0,37698.0,16.0,3893.478973,395676.0,NaN,0.964371,84000016,USA,22141.108466,NaN
17,Illinois,US,2020-11-06 05:30:35,40.3495,-88.9861,453738,10313,NaN,443425.0,17.0,3580.685049,8122987.0,NaN,2.272898,84000017,USA,64102.759974,NaN
18,Indiana,US,2020-11-06 05:30:35,39.8494,-86.2583,196176,4511,128674.0,62991.0,18.0,2913.987201,3073855.0,NaN,2.299466,84000018,USA,45658.868198,NaN
19,Iowa,US,2020-11-06 05:30:35,42.0115,-93.2105,142491,1814,98037.0,42640.0,19.0,4516.254790,916404.0,NaN,1.273063,84000019,USA,29045.441147,NaN
20,Kansas,US,2020-11-06 05:30:35,38.5266,-96.7265,90220,1079,2753.0,86388.0,20.0,3096.816890,663680.0,NaN,1.195965,84000020,USA,22780.929210,NaN
21,Kentucky,US,2020-11-06 05:30:35,37.6681,-84.6701,115277,1534,20304.0,93439.0,21.0,2580.247032,2009317.0,NaN,1.330708,84000021,USA,44974.576250,NaN
22,Louisiana,US,2020-11-06 05:30:35,31.1695,-91.8678,185825,5995,172210.0,7620.0,22.0,3997.273271,2847666.0,NaN,3.226154,84000022,USA,61256.016076,NaN
23,Maine,US,2020-11-06 05:30:35,44.6939,-69.3819,7260,150,5751.0,1359.0,23.0,540.093378,667850.0,NaN,2.066116,84000023,USA,49683.383276,NaN
24,Maryland,US,2020-11-06 05:30:35,39.0639,-76.8021,149964,4182,8255.0,137527.0,24.0,2480.515012,3552331.0,NaN,2.788669,84000024,USA,58758.171124,NaN
25,Massachusetts,US,2020-11-06 05:30:35,42.2302,-71.5301,165161,10085,131646.0,23430.0,25.0,2396.241249,6461311.0,NaN,6.106163,84000025,USA,93744.043347,NaN
26,Michigan,US,2020-11-06 05:30:35,43.3266,-84.5361,218263,7833,121093.0,89337.0,26.0,2185.502406,5154882.0,NaN,3.588790,84000026,USA,51616.659776,NaN
27,Minnesota,US,2020-11-06 05:30:35,45.6945,-93.9002,164865,2609,137824.0,24432.0,27.0,2923.329040,2947153.0,NaN,1.582507,84000027,USA,52257.895551,NaN
28,Mississippi,US,2020-11-06 05:30:35,32.7416,-89.6787,123887,3405,105839.0,14643.0,28.0,4162.661211,961095.0,NaN,2.748472,84000028,USA,32293.242039,NaN
29,Missouri,US,2020-11-06 05:30:35,38.4561,-92.2884,200042,3117,NaN,196925.0,29.0,3259.378358,2624970.0,NaN,1.558173,84000029,USA,42769.870376,NaN
30,Montana,US,2020-11-06 05:30:35,46.9219,-110.4544,36968,407,23300.0,13261.0,30.0,3458.903533,520024.0,NaN,1.100952,84000030,USA,48655.941646,NaN
31,Nebraska,US,2020-11-06 05:30:35,41.1254,-98.2681,78012,674,45772.0,31566.0,31.0,4032.861733,987498.0,NaN,0.863970,84000031,USA,51049.106497,NaN
32,Nevada,US,2020-11-06 05:30:35,38.3135,-117.0554,105360,1824,2511.0,101025.0,32.0,3420.605969,1299121.0,NaN,1.731207,84000032,USA,42177.117003,NaN
33,New Hampshire,US,2020-11-06 05:30:35,43.4525,-71.5639,11808,486,9776.0,1546.0,33.0,868.419833,644591.0,NaN,4.115854,84000033,USA,47406.470934,NaN
34,New Jersey,US,2020-11-06 05:30:35,40.2989,-74.5210,247219,16403,37696.0,193120.0,34.0,2783.311323,4818052.0,NaN,6.635008,84000034,USA,54243.964608,NaN
35,New Mexico,US,2020-11-06 05:30:35,34.8405,-106.2485,51110,1082,22274.0,27754.0,35.0,2437.490134,1218805.0,NaN,2.117003,84000035,USA,58126.103750,NaN
36,New York,US,2020-11-06 05:30:35,42.1657,-74.9481,518812,33657,80225.0,404930.0,36.0,2666.925608,15195176.0,NaN,6.487321,84000036,USA,78109.997445,NaN
37,North Carolina,US,2020-11-06 05:30:35,35.6301,-79.8064,285661,4548,246318.0,34795.0,37.0,2723.671931,4226942.0,NaN,1.592097,84000037,USA,40302.327861,NaN
38,North Dakota,US,2020-11-06 05:30:35,47.5289,-99.7840,49837,596,40017.0,9224.0,38.0,6539.756608,873345.0,NaN,1.195899,84000038,USA,114602.880081,NaN
39,Northern Mariana Islands,US,2020-11-06 05:30:35,15.0979,145.6739,98,2,29.0,67.0,69.0,177.716524,16089.0,NaN,2.040816,580,MNP,29176.338314,NaN
40,Ohio,US,2020-11-06 05:30:35,40.3888,-82.7649,235170,5461,178646.0,51063.0,39.0,2011.874310,4695806.0,NaN,2.322150,84000039,USA,40172.519698,NaN
41,Oklahoma,US,2020-11-06 05:30:35,35.5653,-96.9289,129873,1413,111695.0,16765.0,40.0,3282.131711,1673557.0,NaN,1.087986,84000040,USA,42293.890959,NaN
42,Oregon,US,2020-11-06 05:30:35,44.5720,-122.0709,47839,710,5870.0,41259.0,41.0,1134.233832,889027.0,NaN,1.484145,84000041,USA,21078.293881,NaN
43,Pennsylvania,US,2020-11-06 05:30:35,40.5908,-77.2098,225698,8923,165424.0,51351.0,42.0,1762.991673,2611902.0,NaN,3.953513,84000042,USA,20402.314047,NaN
44,Puerto Rico,US,2020-11-06 05:30:35,18.2208,-66.5901,69416,855,31182.0,37379.0,72.0,2366.394310,375388.0,NaN,1.231705,630,PRI,12796.992440,NaN
45,Rhode Island,US,2020-11-06 05:30:35,41.6809,-71.5118,35750,1222,2881.0,31647.0,44.0,3374.675866,1200751.0,NaN,3.418182,84000044,USA,113346.725054,NaN
46,South Carolina,US,2020-11-06 05:30:35,33.8569,-80.9450,181639,3992,94333.0,83314.0,45.0,3527.851809,1873285.0,NaN,2.197766,84000045,USA,36383.551310,NaN
47,South Dakota,US,2020-11-06 05:30:35,44.2998,-99.4388,51151,482,37059.0,13610.0,46.0,5782.001879,269136.0,NaN,0.942308,84000046,USA,30422.569600,NaN
48,Tennessee,US,2020-11-06 05:30:35,35.7478,-86.6923,271771,3509,243492.0,24770.0,47.0,3979.558875,3780132.0,NaN,1.291161,84000047,USA,55352.697120,NaN
49,Texas,US,2020-11-06 05:30:35,31.0545,-97.5635,969490,18907,802611.0,147972.0,48.0,3343.543864,8483728.0,NaN,1.950201,84000048,USA,29258.390183,NaN
50,Utah,US,2020-11-06 05:30:35,40.1500,-111.8624,124292,632,89837.0,33823.0,49.0,3876.906684,1447849.0,NaN,0.508480,84000049,USA,45161.196747,NaN
51,Vermont,US,2020-11-06 05:30:35,44.0459,-72.7107,2303,58,1888.0,357.0,50.0,369.077019,424422.0,NaN,2.518454,84000050,USA,68017.545181,NaN
52,Virgin Islands,US,2020-11-06 05:30:35,18.3358,-64.8963,1388,23,1332.0,33.0,78.0,1293.955327,24904.0,NaN,1.657061,850,VIR,23216.616325,NaN
53,Virginia,US,2020-11-06 05:30:35,37.7693,-78.1700,187202,3688,21289.0,162225.0,51.0,2193.211684,2719206.0,NaN,1.970064,84000051,USA,31857.535552,NaN
54,Washington,US,2020-11-06 05:30:35,47.4009,-121.4905,112550,2431,NaN,110119.0,53.0,1478.024708,2519494.0,NaN,2.159929,84000053,USA,33086.400557,NaN
55,West Virginia,US,2020-11-06 05:30:35,38.4912,-80.9545,26547,482,20175.0,5890.0,54.0,1481.295898,817092.0,NaN,1.815648,84000054,USA,45592.911742,NaN
56,Wisconsin,US,2020-11-06 05:30:35,44.2685,-89.6165,249924,2194,193369.0,54361.0,55.0,4292.431653,3440030.0,NaN,0.877867,84000055,USA,59082.335669,NaN
57,Wyoming,US,2020-11-06 05:30:35,42.7560,-107.3025,15409,105,9709.0,5595.0,56.0,2662.420800,138213.0,NaN,0.681420,84000056,USA,23880.924530,NaN

In [21]:
# select relevant columns
us_covid_df = us_covid_df[["Province_State", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Mortality_Rate"]]
us_covid_df.head()

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685

In [22]:
# add state column to be filled with state abbreviation
us_covid_df["State"] = "" 
us_covid_df.head()

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate,State
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397,
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199,
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN,
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137,
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685,

In [23]:
# upload States and their abbreviation
us_state_abbrev = {
    
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Diamond Princess': 'DP',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Grand Princess': 'GP',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}
abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

In [24]:
# loop through and assign abbreviation acoordinely
for index, row in us_covid_df.iterrows():
    us_covid_df.loc[index, "State"] = us_state_abbrev[row[0]]

    if row["State"] == "DP":
        us_covid_df.loc[index, "Lat"] = 14.5214
        us_covid_df.loc[index, "Long_"] = 120.9709

    elif row["State"] == "GP":
        us_covid_df.loc[index, "Lat"] = 32.1584
        us_covid_df.loc[index, "Long_"] = 117.5676

us_covid_df

C:\Users\tahir\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,Province_State,Lat,Long_,Confirmed,Deaths,Recovered,Mortality_Rate,State
0,Alabama,32.3182,-86.9023,199158,3026,84471.0,1.519397,AL
1,Alaska,61.3707,-152.4044,18174,84,7125.0,0.462199,AK
2,American Samoa,-14.2710,-170.1320,0,0,NaN,NaN,AS
3,Arizona,33.7298,-111.4312,252768,6087,42317.0,2.408137,AZ
4,Arkansas,34.9697,-92.3731,117360,2037,104816.0,1.735685,AR
5,California,36.1162,-119.6816,956854,17860,NaN,1.866533,CA
6,Colorado,39.0598,-105.3111,121006,2353,8268.0,1.944532,CO
7,Connecticut,41.5978,-72.7554,77060,4656,9800.0,6.042045,CT
8,Delaware,39.3185,-75.5071,25753,716,13685.0,2.780259,DE
9,Diamond Princess,NaN,NaN,49,0,NaN,0.000000,DP
10,District of Columbia,38.8974,-77.0268,17682,650,13653.0,3.676055,DC
11,Florida,27.7663,-81.6868,827380,16961,NaN,2.049965,FL
12,Georgia,33.0406,-83.6431,368368,8126,NaN,2.205946,GA
13,Grand Princess,NaN,NaN,103,3,NaN,2.912621,GP
14,Guam,13.4443,144.7937,5004,85,3352.0,1.698641,GU
15,Hawaii,21.0943,-157.4983,15572,219,11958.0,1.406370,HI
16,Idaho,44.2405,-114.4788,69579,671,31210.0,0.964371,ID
17,Illinois,40.3495,-88.9861,453738,10313,NaN,2.272898,IL
18,Indiana,39.8494,-86.2583,196176,4511,128674.0,2.299466,IN
19,Iowa,42.0115,-93.2105,142491,1814,98037.0,1.273063,IA
20,Kansas,38.5266,-96.7265,90220,1079,2753.0,1.195965,KS
21,Kentucky,37.6681,-84.6701,115277,1534,20304.0,1.330708,KY
22,Louisiana,31.1695,-91.8678,185825,5995,172210.0,3.226154,LA
23,Maine,44.6939,-69.3819,7260,150,5751.0,2.066116,ME
24,Maryland,39.0639,-76.8021,149964,4182,8255.0,2.788669,MD
25,Massachusetts,42.2302,-71.5301,165161,10085,131646.0,6.106163,MA
26,Michigan,43.3266,-84.5361,218263,7833,121093.0,3.588790,MI
27,Minnesota,45.6945,-93.9002,164865,2609,137824.0,1.582507,MN
28,Mississippi,32.7416,-89.6787,123887,3405,105839.0,2.748472,MS
29,Missouri,38.4561,-92.2884,200042,3117,NaN,1.558173,MO
30,Montana,46.9219,-110.4544,36968,407,23300.0,1.100952,MT
31,Nebraska,41.1254,-98.2681,78012,674,45772.0,0.863970,NE
32,Nevada,38.3135,-117.0554,105360,1824,2511.0,1.731207,NV
33,New Hampshire,43.4525,-71.5639,11808,486,9776.0,4.115854,NH
34,New Jersey,40.2989,-74.5210,247219,16403,37696.0,6.635008,NJ
35,New Mexico,34.8405,-106.2485,51110,1082,22274.0,2.117003,NM
36,New York,42.1657,-74.9481,518812,33657,80225.0,6.487321,NY
37,North Carolina,35.6301,-79.8064,285661,4548,246318.0,1.592097,NC
38,North Dakota,47.5289,-99.7840,49837,596,40017.0,1.195899,ND
39,Northern Mariana Islands,15.0979,145.6739,98,2,29.0,2.040816,MP
40,Ohio,40.3888,-82.7649,235170,5461,178646.0,2.322150,OH
41,Oklahoma,35.5653,-96.9289,129873,1413,111695.0,1.087986,OK
42,Oregon,44.5720,-122.0709,47839,710,5870.0,1.484145,OR
43,Pennsylvania,40.5908,-77.2098,225698,8923,165424.0,3.953513,PA
44,Puerto Rico,18.2208,-66.5901,69416,855,31182.0,1.231705,PR
45,Rhode Island,41.6809,-71.5118,35750,1222,2881.0,3.418182,RI
46,South Carolina,33.8569,-80.9450,181639,3992,94333.0,2.197766,SC
47,South Dakota,44.2998,-99.4388,51151,482,37059.0,0.942308,SD
48,Tennessee,35.7478,-86.6923,271771,3509,243492.0,1.291161,TN
49,Texas,31.0545,-97.5635,969490,18907,802611.0,1.950201,TX
50,Utah,40.1500,-111.8624,124292,632,89837.0,0.508480,UT
51,Vermont,44.0459,-72.7107,2303,58,1888.0,2.518454,VT
52,Virgin Islands,18.3358,-64.8963,1388,23,1332.0,1.657061,VI
53,Virginia,37.7693,-78.1700,187202,3688,21289.0,1.970064,VA
54,Washington,47.4009,-121.4905,112550,2431,NaN,2.159929,WA
55,West Virginia,38.4912,-80.9545,26547,482,20175.0,1.815648,WV
56,Wisconsin,44.2685,-89.6165,249924,2194,193369.0,0.877867,WI
57,Wyoming,42.7560,-107.3025,15409,105,9709.0,0.681420,WY

In [62]:
# loop through and assign abbreviation acoordinely
# for index, row in us_covid_df.iterrows():
#     if row["State"] == "DP":
#         us_covid_df.loc[index, "Lat"] = 14.5214
#         us_covid_df.loc[index, "Long_"] = 120.9709

#     elif row["State"] == "GP":
#         us_covid_df.loc[index, "Lat"] = 32.1584
#         us_covid_df.loc[index, "Long_"] = 117.5676

    # if row["State"] == FSM:
    #     us_covid_df.loc[index, "Lat"] = 6.8874
    #     us_covid_df.loc[index, "Long"] = 158.2150

    # elif row["State"] == NYC:
    #     us_covid_df.loc[index, "Lat"] = 40.7128
    #     us_covid_df.loc[index, "Long"] = -74.0060

    # elif row["State"] == PW:
    #     us_covid_df.loc[index, "Lat"] = 7.5150
    #     us_covid_df.loc[index, "Long"] = 134.5825

    # elif row["State"] == RMI:
    #     us_covid_df.loc[index, "Lat"] = 7.1315
    #     us_covid_df.loc[index, "Long"] = 171.1845

# us_covid_df.head()

In [25]:
# rename columns and add recovery percent column
us_covid_df = us_covid_df.rename(columns={"Long_": "Long", "Mortality_Rate":"Death_percent"})
us_covid_df["Recovery_percent"]=us_covid_df.Recovered/us_covid_df.Confirmed
us_covid_df = us_covid_df[["State", "Lat", "Long", "Death_percent", "Recovery_percent"]].fillna(0)
us_covid_df.head()

  State      Lat      Long  Death_percent  Recovery_percent
0    AL  32.3182  -86.9023       1.519397          0.424141
1    AK  61.3707 -152.4044       0.462199          0.392044
2    AS -14.2710 -170.1320       0.000000          0.000000
3    AZ  33.7298 -111.4312       2.408137          0.167414
4    AR  34.9697  -92.3731       1.735685          0.893115

In [26]:
# merge two df into one dataframe using left joint.
us_covid_combine_df = pd.merge(covid_stats_df, us_covid_df, how='left', on=['State','State'])
us_covid_combine_df.head()

,State,Total_cases,Case_rate_per_100k,Total_deaths,Death_rate_per_100k,Lat,Long,Death_percent,Recovery_percent
0,AK,17072,2315,84,11,61.3707,-152.4044,0.462199,0.392044
1,AL,199158,4074,3026,61,32.3182,-86.9023,1.519397,0.424141
2,AR,117360,3894,2037,67,34.9697,-92.3731,1.735685,0.893115
3,AS,0,0,0,0,-14.2710,-170.1320,0.000000,0.000000
4,AZ,252768,3524,6087,84,33.7298,-111.4312,2.408137,0.167414

In [27]:
# save to a csv file
us_covid_combine_df.to_csv('../Data/states.csv')

## World COVID-19 Data by Country

In [28]:
# upload file and read into a pandas dataframe
file = "../Data/World_COVID-19_Stats.csv"
world_covid_df = pd.read_csv(file)
world_covid_df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-11-06 05:24:55,33.93911,67.709953,41935,1554,34440,5941.0,Afghanistan,107.723573,3.705735
1,NaN,NaN,NaN,Albania,2020-11-06 05:24:55,41.15330,20.168300,22721,543,11696,10482.0,Albania,789.526722,2.389860
2,NaN,NaN,NaN,Algeria,2020-11-06 05:24:55,28.03390,1.659600,60169,2011,41244,16914.0,Algeria,137.212244,3.342253
3,NaN,NaN,NaN,Andorra,2020-11-06 05:24:55,42.50630,1.521800,5135,75,3858,1202.0,Andorra,6645.958714,1.460565
4,NaN,NaN,NaN,Angola,2020-11-06 05:24:55,-11.20270,17.873900,12102,299,5350,6453.0,Angola,36.821948,2.470666

In [29]:
# select relevant columns only
world_covid_df = world_covid_df[["Country_Region", "Lat", "Long_", "Confirmed", "Deaths", "Recovered", "Case-Fatality_Ratio"]]
world_covid_df.head()

,Country_Region,Lat,Long_,Confirmed,Deaths,Recovered,Case-Fatality_Ratio
0,Afghanistan,33.93911,67.709953,41935,1554,34440,3.705735
1,Albania,41.15330,20.168300,22721,543,11696,2.389860
2,Algeria,28.03390,1.659600,60169,2011,41244,3.342253
3,Andorra,42.50630,1.521800,5135,75,3858,1.460565
4,Angola,-11.20270,17.873900,12102,299,5350,2.470666

In [30]:
# rename columns and add a recovery percent column
world_covid_df = world_covid_df.rename(columns={"Long_": "Long", "Case-Fatality_Ratio":"Death_percent", "Country_Region": "Country"})
world_covid_df["Recovery_percent"]=world_covid_df.Recovered/world_covid_df.Confirmed
world_covid_df.head()

,Country,Lat,Long,Confirmed,Deaths,Recovered,Death_percent,Recovery_percent
0,Afghanistan,33.93911,67.709953,41935,1554,34440,3.705735,0.821271
1,Albania,41.15330,20.168300,22721,543,11696,2.389860,0.514766
2,Algeria,28.03390,1.659600,60169,2011,41244,3.342253,0.685469
3,Andorra,42.50630,1.521800,5135,75,3858,1.460565,0.751315
4,Angola,-11.20270,17.873900,12102,299,5350,2.470666,0.442076

In [31]:
# add missing geoinfo to country
for index, row in world_covid_df.iterrows(): 
    if row["Country"] == "Canada":
        world_covid_df.loc[index, "Lat"] = 56.1304
        world_covid_df.loc[index, "Long"] = 106.3468
world_covid_df

,Country,Lat,Long,Confirmed,Deaths,Recovered,Death_percent,Recovery_percent
0,Afghanistan,33.939110,67.709953,41935,1554,34440,3.705735,0.821271
1,Albania,41.153300,20.168300,22721,543,11696,2.389860,0.514766
2,Algeria,28.033900,1.659600,60169,2011,41244,3.342253,0.685469
3,Andorra,42.506300,1.521800,5135,75,3858,1.460565,0.751315
4,Angola,-11.202700,17.873900,12102,299,5350,2.470666,0.442076
...,...,...,...,...,...,...,...,...
3955,West Bank and Gaza,31.952200,35.233200,56672,508,48680,0.896386,0.858978
3956,Western Sahara,24.215500,-12.885800,10,1,8,10.000000,0.800000
3957,Yemen,15.552727,48.516388,2063,601,1375,29.132332,0.666505
3958,Zambia,-13.133897,27.849332,16770,349,15827,2.081097,0.943769
3959,Zimbabwe,-19.015438,29.154857,8444,248,7975,2.936997,0.944458

In [32]:
# save file as a csv
world_covid_df.to_csv('../Data/world.csv')

## build SQlite DataBase

In [39]:
# import modules
import sqlite3
from sqlite3 import Error

# series of functions to  build database tables in sqlite database.

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return conn
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

def drop_table(conn, drop_table_sql):
    """ drop a table from the drop_table_sql statement
    :param conn: Connection object
    :param drop_table_sql: a drop TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(drop_table_sql)
    except Error as e:
        print(e)

# build empty tables with correct columns names
def main():
    database = r"../DataBase/covid-19.db"
    sql_create_monthly_table = """CREATE TABLE monthly(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT, 
                                        Date text NOT NULL,
                                        State text,
                                        Average_cases float,
                                        Average_death float,
                                        Average_recovery float,
                                        Death_percent float,
                                        Recovery_percent float
                                    ); """

    sql_drop_monthly_table = """DROP TABLE if exists monthly;"""
    
    sql_create_states_table = """CREATE TABLE states(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                                        State text,
                                        Total_cases float,
                                        Case_rate_per_100k float,
                                        Total_deaths float,
                                        Death_rate_per_100k float,
                                        Lat float,
                                        Long float,
                                        Death_percent float,
                                        Recovery_percent float
                                );"""

    sql_drop_states_table = """DROP TABLE if exists states;"""    

    sql_create_world_table = """CREATE TABLE world(
                                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                                        Country text,
                                        Lat float,
                                        Long float,
                                        Confirmed float,
                                        Deaths float,
                                        Recovered float,
                                        Recovery_percent float,
                                        Death_percent float
                                );"""

    sql_drop_world_table = """DROP TABLE if exists world;"""

    # create a database connection
    conn = create_connection(database)
    
    # create tables
    if conn is not None:
        # create covid_monthly table
        drop_table(conn, sql_drop_monthly_table)
        create_table(conn, sql_create_monthly_table)

        # create covid_states table
        drop_table(conn, sql_drop_states_table)
        create_table(conn, sql_create_states_table)

        #create covid_world table
        drop_table(conn, sql_drop_world_table)
        create_table(conn, sql_create_world_table)
        
    # error handling
    else:
        print("Error! cannot create the database connection.")
if __name__ == '__main__':
    main()

In [40]:
# create engine connection to database
engine = create_engine('sqlite:///../DataBase/covid-19.db')

# # populate tables with information from dataframes
covid_monthly_df.to_sql(name='monthly', con=engine, if_exists = "append", index=False)
world_covid_df.to_sql(name='world', con=engine, if_exists = "append", index= False)
us_covid_combine_df.to_sql(name='states', con=engine, if_exists = "append", index=False)

In [41]:
# querry monthly data from database. to test and make sure tables are working
pd.read_sql('select * from monthly', engine)

,id,Date,State,Average_cases,Average_death,Average_recovery,Death_percent,Recovery_percent
0,1,2020-01,AK,0.00,0.00,0.0,0.00,0.00
1,2,2020-01,AL,39.80,0.00,39.8,0.00,100.00
2,3,2020-01,AR,0.00,0.00,0.0,0.00,0.00
3,4,2020-01,AS,0.00,0.00,0.0,0.00,0.00
4,5,2020-01,AZ,0.60,0.00,0.6,0.00,100.00
...,...,...,...,...,...,...,...,...
1015,1016,2021-05,VT,23564.40,250.50,23313.9,1.06,98.94
1016,1017,2021-05,WA,416236.15,5587.75,410648.4,1.34,98.66
1017,1018,2021-05,WI,666641.20,7658.50,658982.7,1.15,98.85
1018,1019,2021-05,WV,156682.10,2731.70,153950.4,1.74,98.26
1019,1020,2021-05,WY,58821.90,710.70,58111.2,1.21,98.79

In [38]:
# querry states data from database. to test and make sure tables are working
pd.read_sql('select * from states', engine)

,id,State,Total_cases,Case_rate_per_100k,Total_deaths,Death_rate_per_100k,Lat,Long,Death_percent,Recovery_percent
0,1,AK,17072.0,2315.0,84.0,11.0,61.3707,-152.4044,0.462199,0.392044
1,2,AL,199158.0,4074.0,3026.0,61.0,32.3182,-86.9023,1.519397,0.424141
2,3,AR,117360.0,3894.0,2037.0,67.0,34.9697,-92.3731,1.735685,0.893115
3,4,AS,0.0,0.0,0.0,0.0,-14.2710,-170.1320,0.000000,0.000000
4,5,AZ,252768.0,3524.0,6087.0,84.0,33.7298,-111.4312,2.408137,0.167414
...,...,...,...,...,...,...,...,...,...,...
117,118,WA,112550.0,1494.0,2431.0,32.0,47.4009,-121.4905,2.159929,0.000000
118,119,WI,263571.0,4534.0,2269.0,39.0,44.2685,-89.6165,0.877867,0.773711
119,120,WV,26547.0,1470.0,480.0,26.0,38.4912,-80.9545,1.815648,0.759973
120,121,WY,15409.0,2667.0,105.0,18.0,42.7560,-107.3025,0.681420,0.630086
121,122,0,9581770.0,2895.0,234264.0,71.0,NaN,NaN,NaN,NaN

In [ ]:
# make an API call to make sure Flask app is working 
import requests
url="http://127.0.0.1:5000/api/v1.0/monthly"
resp=requests.get(url)
resp

In [ ]:
data = resp.json()
data